# Copy this file to keystore.properties and fill in your actual values
# DO NOT commit keystore.properties to git!

storePassword=YOUR_KEYSTORE_PASSWORD
keyPassword=YOUR_KEY_PASSWORD
keyAlias=queuecord
storeFile=queuecord-release.keystore
